* {
	box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 100%;
}

body {
	background-color: #E5E5E5;
	color: #333333;
	height: 100%;
}

li {
	display: inline-block;
}

.wrapper {
	position: relative;
    min-height: 100%;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0;
}

/* Navigation */

.nav {
	height: 50px;
	background-color: #FFFFFF;
	font-family: 'ABeeZee', sans-serif;
	font-size: 13px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.menu {
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding-left: 0;
}
	.menu__link {
		display: block;
		padding: 0 20px;
		line-height: 50px;
	}

	.menu__link:active {
		color: #000000;
	}

	.menu__option:last-child {
		position: relative;
	}
	
	.menu__option:last-child::before {
		content: "";
		position: absolute;
		left: 0px;
		bottom: 10px;
		display: inline-block;
		line-height: 50px;
		width: 1px;
		height: 30px;
		background-color: rgba(0, 0, 0, 0.1);
	}

.sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	width: 190px;
	padding: 0;
	background-color: #FFFFFF;
	box-shadow: 0px 5px 6px -1px rgba(34, 60, 80, 0.2);
}

	.sub-menu__option {
		line-height: 35px;
		width: 190px;
		padding-left: 10px;
	}

	.sub-menu__link {
		display: block;
		height: 100%;
	}

	.sub-menu__link:active {
		color: #000000;
	}

	.sub-menu__hint {
		font-size: 11px;
		color: #BBBBBB;
		margin-bottom: -15px;
	}

	.sub-menu__delimiter::before {
		content: "";
		display: block;
		height: 1px;
		width: 190px;
		margin: 0 0 5px -10px;
		background-color: #E0E0E0;
	}

.option:hover {
	background-color: #E6E6E6;
}

.menu__option:hover > .sub-menu {
	display: block;
}

.link {
	color: #333333;
	text-decoration: none;
	cursor: pointer;
}

.option {
	display: block;
}

.background {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: rgb(0, 0, 0, 0.5);
}

	.background__exit {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		z-index: 1;
	}

#background:target {
	display:block;
}

.pop-up {
	position: relative;
	width: 500px;
	height: 210px;
	background-color: #FFFFFF;
	box-shadow: 0px 5px 6px -1px rgba(34, 60, 80, 0.2);
	margin: 250px auto;
	padding-top: 30px;
	z-index: 2;
}

.pop-up::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	background-color: #EAEAEA;
	z-index: 1;
}

	.pop-up__title {
		margin: 0 0 20px 30px;
	}

	.pop-up__form {
		position: absolute;
		z-index: 2;
	}

	.pop-up__btn {
		display: block;
		padding: 10px 15px;
		border: solid 1px #CFCFCF;
		border-radius: 5%;
		font-family: 'Roboto', Arial, Tahoma, sans-serif;
		font-size: 15px;
		margin-left: 30px;
		color: #333333;
		background-color: #FFFFFF;
		outline: none;
		cursor: pointer;
	}

	.pop-up__btn:active {
		background-color: #ECECEC;
	}

	.pop-up__label {
		font-family: 'Roboto', Arial, Tahoma, sans-serif;
		font-size: 14px;
	}

	.pop-up__toggle {
		margin: 0 0 60px 30px;
	}

.title_h2 {
	font-family: 'Roboto', Arial, Tahoma, sans-serif;
	font-weight: 400;
	font-size: 22px;
}

.exit {
	display: block;
	position: absolute;
	top: 35px;
	right: 30px;
	background-image: url(../img/close.png);
	width: 14px;
	height: 14px;
}

/* Toggle */

.toggle {
	visibility: hidden;
}

.pop-up__label {
	position: relative;
	margin-left: 20px;
	cursor: pointer;
}

.pop-up__label::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -37px;
	display: inline-block;
	width: 30px;
	height: 18px;
	background-color: #FFFFFF;
	border: solid 1px #D0D0D0;
	border-radius: 16px;
	transition: 0.2s;
}

.pop-up__label::after {
	content: "";
	position: absolute;
	top: -1px;
	left: -37px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #F5F5F5;
	border: 1px solid #D0D0D0;
	border-radius: 10px;
	transition: 0.2s;
}

.pop-up__label:hover::after {
	background-color: #E4E4E4;
}

.pop-up__toggle:checked + .pop-up__label::before {
	background-color: #3072C4;
	border: solid 1px #3072C4;
  transition: 0.2s;
}

.main {
  padding-top: 70px;
  padding-bottom: 15px;
}

.main::after {
	content: '';
	display: block;
	min-height: 71px;
	width: 100%;
}

.main input:hover {
  cursor: pointer;
}

.main label:hover {
  cursor: pointer;
}

p {
  color: #333333;
}

.main-container {

  padding: 45px;
  padding-bottom: 50px;

  margin: 0 auto;

  max-width: 1280px;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

  border-top: 2px solid #1E79BE;

  background-color: #fff;
}

.main-container__back {
  display: block;

  margin-bottom: 5px;

  font-size: 16px;
  line-height: 20px;

  color: #3072C4;

  text-decoration: none;
}

.main-container hr {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
}

.main-container__addr {

  margin-top: 28px;
  margin-bottom: 14px;

  font-size: 22px;
  line-height: 30px;

  color: #333333;
}

.main-container__info-text {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 25px;

  color: #333333;
}

.coordinate {
  color: #33333396;

  margin-bottom: 24px;
}

.main-container__checks__checks-container {
  display: flex;

  padding-bottom: 20px;
}

.main-container__checks__checks-container__check {
  padding-right: 10px;
}

.main-container__checks__checks-container__check input{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.main-container__checks__checks-container__check label {
  display: inline-flex;
  user-select: none;
}

.main-container__checks__checks-container__check label::before {
  content: '';

  /* align-items: center; */
  /* justify-content: center; */

  min-width: 16px;
  height: 16px;
  
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}

.main-container__checks__checks-container__check input:checked+label::before {
  border-color: #1D85D0;
  background-color: #1D85D0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.main-container__checks__checks-container__check__text-container {
	margin-left: 10px;
}

.main-container__checks__main-text {
  margin-top: 0;
  margin-bottom: 5px;
}

.main-container__checks__second-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #33333396;
}

.main-container__button {
  margin-top: 15px;
  margin-bottom: 7px;

  width: 172px;
  height: 42px;

  border: none;
  border-radius: 1px;

  background-color: #1E79BE;

  color: white;

  outline: none;
}

.main-container__button:hover {
	background-color: #2181CA;
}

.main-container__button:active {
	background-color: #1A6AA7;
}

/*footer*/

footer {
  z-index: -1;
}

.footer {
  position: absolute;
  display: flex;

  bottom: 0;

  width: 100%;
  height: 70px;
}

.footer-container {
  display: flex;

  margin: 0 auto;

  width: 1280px;
}

.footer__logo {
  margin-right: 7px;
}

.footer__text, .footer__text>p {
  font-size: 14px;
  line-height: 20px;

  color: #A1A1A1;
}

.footer__text>p {
  margin-top: 8px;
}

.footer__text b{
  font-size: 16px;
  margin-right: 2px;
}

.pop-up__toggle:checked + .pop-up__label::after {
	left: -24px;
	transition: 0.2s;
}